<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> -->

<!-- <app-employee></app-employee> -->

<div class="container">
  <div class="row">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-primary">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Dashboard</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
               

                <li class="dropdown">
                    <a href="#" class="nav dropdown-toggle" data-toggle="dropdown" data-original-title="Settings" data-placement="bottom">
                        <i class="fa fa-cogs"></i>
                        <!-- <span class="visible-xs">&nbsp;Settings</span> -->
                    </a>
                    
                </li>

                <li>
                    <a href="http://reformaitsolutions.com/in1/sessions/logout" class="tip icon logout" data-placement="bottom" data-original-title="Logout">
                        <i class="fa fa-power-off"></i>
                        <!-- <span class="visible-xs">&nbsp;Logout</span> -->
                    </a>
                </li>
            </ul>
        
      </div>
    </nav>

  </div>
  <br>
<hr>
<router-outlet></router-outlet>
<hr>
  
</div>
<!-- <app-user-register></app-user-register> -->
<router-outlet></router-outlet>
